<p>Register</p>
<p>Sign In</p>

<h1>Most Recent Questions</h1>
<ul>
  <%  @most_recent_questions.reverse_each do |question| %>
    <li> <%= question.title %></li>
  <% end %>
</ul>

<h1>Highest Voted Questions</h1>
<ul>
  <% @highest_voted_questions.each do |question| %>
    <li> <%= question.title%> = <%=question.votes.count %></li>
  <% end %>
</ul>

<h1>Trending Questions</h1>
<ul>
  <% @trending_questions.each do |question| %>
    <li> <%= question.title%> = <%=question.responses.count %></li>
  <% end %>
</ul>