<!-- TODO: REFACTOR THE LOGICS OUT OF THE VIEW! -->
<div class="container">
  <div class="question-container">
    <div class="question-title">
      <%= @question.title %>
    </div>
    <div class="question-content">
      <%= @question.content %>
    </div>
    <p>author: <%= @user.username %></p>
    <a class="upvote" href="/users/<%=@user.id%>/questions/<%=@question.id%>/votes/new">upvote</a></br>
    <a class="downvote" href="/users/<%=@user.id%>/questions/<%=@question.id%>/votes/destroy">downvote</a></br>
    <!-- vote count -->
    <p class="question-vote-count">Votes: <%= Vote.where(vote_context_id: @question.id, vote_context_type: "Question").count %></p>
    <!-- comments -->
    <a class="show-question-comments">Comments</a>
    <div class="question-comments-container">
      <!-- <p><%= @question.responses.each  %></p> -->
      <%= render 'question_comments' %>
    </div>
  </div>
  <hr>

  <div class="answers-container">
    <% @question.answers.each do |answer| %>
      <% user = User.find(answer.user_id) %>
      <% votes = Vote.where(vote_context_id: answer.id, vote_context_type: "Answer") %>
      <div class="answer-container">
        <p>answer: <%= answer.content %></p>
        <p>author: <%= user.username %></p>
        <% if votes %>
          <p class="answer-vote-count">Votes: <%= votes.count %></p>
        <% else %>
          <p class="answer-vote-count">Votes: 0</p>
        <% end %>
        <!-- vote button -->
        <a class="upvote" href="/users/<%=@user.id%>/questions/<%=@question.id%>/answers/<%=answer.id%>/votes/new">upvote</a></br>
        <a class="downvote" href="/users/<%=@user.id%>/questions/<%=@question.id%>/answers/<%=answer.id%>/votes/destroy">downvote</a></br>
        <!-- comments -->
        <a class="show-answer-comments">Comments</a>
        <div class="answer-comments-container">
          <!-- <p><%= @question.responses.each  %></p> -->
          <% @current_answer = answer %>
          <%= render 'answer_comments' %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
