<% if session[:user_id] %>

<%= link_to "Sign Out", sessions_path, :method => :delete %>

  <h1>Welcome  <%= @user.username %> </h1>

  <button class="recent_button">Most Recent</button>
  <button class="vote_button">Highest Voted</button>
  <button class="trending_button">Trending</button>

  <div class="recent">
    <h1>Most Recent Questions</h1>
    <ul>
      <%  @most_recent_questions.reverse_each do |question| %>
      <li> <%= question.title %></li>
      <% end %>
    </ul>
  </div>

  <div class="vote">
    <h1>Highest Voted Questions</h1>
    <ul>
      <% @highest_voted_questions.each do |question| %>
      <li> <%= question.title%> = <%=question.votes.count %></li>
      <% end %>
    </ul>
  </div>

  <div class="trending">
    <h1>Trending Questions</h1>
    <ul>
      <% @trending_questions.each do |question| %>
      <li> <%= question.title%> = <%=question.responses.count %></li>
      <% end %>
    </ul>
  </div>

<% else %>

  <%=link_to "Sign Up", new_user_path %>
  <%=link_to "Sign In", sessions_path %>

  <button class="recent_button">Most Recent</button>
  <button class="vote_button">Highest Voted</button>
  <button class="trending_button">Trending</button>

  <div class="recent">
    <h1>Most Recent Questions</h1>
    <ul>
      <%  @most_recent_questions.reverse_each do |question| %>
      <li> <%= question.title %></li>
      <% end %>
    </ul>
  </div>

  <div class="vote">
    <h1>Highest Voted Questions</h1>
    <ul>
      <% @highest_voted_questions.each do |question| %>
      <li> <%= question.title%> = <%=question.votes.count %></li>
      <% end %>
    </ul>
  </div>

  <div class="trending">
    <h1>Trending Questions</h1>
    <ul>
      <% @trending_questions.each do |question| %>
      <li> <%= question.title%> = <%=question.responses.count %></li>
      <% end %>
    </ul>
  </div>

<%end%>


