<% if session[:user_id] %>
<div class="entry_button">
  <ul>
    <li><a href="/" class="logo-link"><h1>Stock<span>Overflow</span> <i class="fa fa-line-chart"></i></h1></a></li>
    <li class="user_name"><%=link_to @user.username, user_path(@user)%></li>
    <li><%= link_to "Sign Out", sessions_path, :method => :delete, class: "signout" %></li>
  </ul>
</div>
<% else %>
<div class="entry_button">
  <ul>
   <li><a href="/" class="logo-link"><h1>Stock<span>Overflow</span> <i class="fa fa-line-chart"></i></h1></a></li>
   <li class="signin"><%=link_to "Sign Up", new_user_path %></li>
   <li class="signup"><%=link_to "Sign In", sessions_path %></li>
 </ul>
</div>
<% end %>

<div class="buttoncontainer">
  <button class="recent_button">Most Recent</button>
  <button class="vote_button">Highest Voted</button>
  <button class="trending_button">Trending</button>
</div>

<hr>

<div class="container recent">
  <h1 class="questiontitle">Most Recent Questions</h1>
  <%  @most_recent_questions.reverse_each do |question| %>
  <div class="question">
    <ul>
      <li> <div class="numvotes"><%=question.votes.count %> Votes </div> </li>
      <li> <div class="numresponses"><%=question.responses.count %> Responses </div> </li>
      <li> <div class="title"><%= link_to question.title, user_question_path(User.find(question.user_id), question) %> </div> </li>
      <ul>
      </div>
      <% end %>
    </div>

    <div class="container vote">
      <h1 class="questiontitle">Highest Voted Questions</h1>
      <% @highest_voted_questions.each do |question| %>
      <div class="question">
        <ul>
          <li> <div class="numvotes"><%=question.votes.count %> Votes </div> </li>
          <li> <div class="numresponses"><%=question.responses.count %> Responses </div> </li>
          <li> <div class="title"><%= link_to question.title, user_question_path(User.find(question.user_id), question) %> </div> </li>
          <ul>
          </div>
          <% end %>
        </div>

        <div class="container trending">
          <h1 class="questiontitle">Trending Questions</h1>
          <% @trending_questions.each do |question| %>
          <div class="question">
            <ul>
              <li> <div class="numvotes"><%=question.votes.count %> Votes </div> </li>
              <li> <div class="numresponses"><%=question.responses.count %> Responses </div> </li>
              <li> <div class="title"><%= link_to question.title, user_question_path(User.find(question.user_id), question) %> </div> </li>
              <ul>
              </div>
              <% end %>
            </div>

